{% extends "main.html" %}

{% block extrahead %}
  <link
    rel="stylesheet"
    href="{{ 'stylesheets/home.css' | url }}"
  />
{% endblock %}

{% block tabs %}
{{ super() }}

<!-- Hero for landing page -->
<div class="lunni-reset-colors" data-md-color-scheme="default">
  <div class="md-grid">
    <div class="md-content__inner">
      <div class="lunni-hero md-typeset">
        <div>
          <h1 class="lunni-hero-h1">Deployment<br>as easy as ⌘&#8239;V</h1>
          <p>
            Lunni helps you deploy and manage apps on your own servers. Paste
            your docker-compose.yml file, make a couple tweaks and hit Deploy.
          </p>
          <div>
            <a href="{{ page.next_page.url | url }}" title="{{ page.next_page.title | e }}"
              class="md-button lunni-button lunni-button--brand">
              Get started
            </a>
            <a href="https://discord.gg/9EAne8g2Pq" title="Lunni on Discord"
              class="md-button lunni-button md-button--secondary">
              Chat with us
              <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-discord" width="32"
                height="32" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none"
                stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M8 12a1 1 0 1 0 2 0a1 1 0 0 0 -2 0"></path>
                <path d="M14 12a1 1 0 1 0 2 0a1 1 0 0 0 -2 0"></path>
                <path
                  d="M8.5 17c0 1 -1.356 3 -1.832 3c-1.429 0 -2.698 -1.667 -3.333 -3c-.635 -1.667 -.476 -5.833 1.428 -11.5c1.388 -1.015 2.782 -1.34 4.237 -1.5l.975 1.923a11.913 11.913 0 0 1 4.053 0l.972 -1.923c1.5 .16 3.043 .485 4.5 1.5c2 5.667 2.167 9.833 1.5 11.5c-.667 1.333 -2 3 -3.5 3c-.5 0 -2 -2 -2 -3">
                </path>
                <path d="M7 16.5c3.5 1 6.5 1 10 0"></path>
              </svg>
            </a>
            <a href="https://matrix.to/#/#lunni:matrix.org" title="#lunni on Matrix"
              class="md-button lunni-button md-button--secondary">
              <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-matrix" width="32"
                height="32" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none"
                stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M4 3h-1v18h1"></path>
                <path d="M20 21h1v-18h-1"></path>
                <path d="M7 9v6"></path>
                <path d="M12 15v-3.5a2.5 2.5 0 1 0 -5 0v.5"></path>
                <path d="M17 15v-3.5a2.5 2.5 0 1 0 -5 0v.5"></path>
              </svg>
            </a>
          </div>
        </div>

        <img src="/images/screenshot-hero.png" alt="Lunni interface screenshot" />
      </div>

      <div class="lunni-spotlight md-typeset">
        <section>
          <h3>Run anything in&nbsp;production, <em>in&nbsp;seconds</em></h3>
          <p>
            Write up a Dockerfile and set up CI with our guides, or start with
            one of our templates. When you're ready to deploy, paste your
            docker-compose.yml file into Lunni dashboard and hit Deploy –
            that's all that you need to do.
          </p>
        </section>
        <section>
          <h3>Own your server</h3>
          <p>
            Lunni runs on AWS, Azure, DigitalOcean – and anywhere else Docker
            does. You have full control over your server. This makes it
            easy to move from one cloud to another if needed, as well as helps
            you comply with privacy regulations like GDPR.
          </p>
        </section>
        <section>
          <h3>
            One-click app marketplace
          </h3>
          <p>
            Don't know code? No problem! Explore our marketplace of one-click
            apps and easily launch them in just a few clicks. Choose from a
            variety of popular web apps such as Ghost and Forgejo, nocode
            solutions like PocketBase, and many more.
          </p>
        </section>
      </div>

      <figure class="lunni-feature" id="feature-paste">
        <a class="lunni-feature-pic" href="https://lunni.dev/docs/deploy/" tabindex="-1" title="Works with your CI">
          <img src="/images/feature-paste.png" alt="Works with your CI" loading="lazy">
        </a>
        <figcaption class="md-typeset">
          <h2>No vendor lock-in</h2>
          <p>
            Other cloud platforms make you learn their own proprietary config
            format, trying to lock you in as a customer. We think this is
            bullshit. On Lunni, you can use the same <code>docker-compose.yml</code>
            from local development to production deployment.
          </p>
          <p>
            <a href="https://lunni.dev/docs/deploy/">Learn more →</a>
          </p>
        </figcaption>
      </figure>
      <figure class="lunni-feature" id="feature-ci">
        <a class="lunni-feature-pic" href="https://lunni.dev/docs/deploy/from-git/" tabindex="-1"
          title="Works with your CI">
          <img src="/images/feature-ci.png" alt="Works with your CI" loading="lazy">
        </a>
        <figcaption class="md-typeset">
          <h2>Bring your own CI/CD</h2>
          <p>
            Lunni doesn't build Docker images for you. Good news – it’s very
            easy to do it yourself! Set up GitHub Actions or GitLab CI using
            our instructions, or use your existing CI system – if it can build
            Docker images, it will work with Lunni.
          </p>
          <p>
            <a href="https://lunni.dev/docs/deploy/from-git/">Learn more →</a>
          </p>
        </figcaption>
      </figure>
      {# <figure class="lunni-feature" id="feature-team">
        <div class="lunni-feature-pic" title="Invite your team">
          <img src="/images/feature-team.png" alt="Invite your team" loading="lazy">
        </div>
        <figcaption class="md-typeset">
          <h2>Get the gang together</h2>
          <p>
            Easily invite team members to monitor and manage app deployments
            together.
          </p>
        </figcaption>
      </figure> #}
      <figure class="lunni-feature" id="feature-logs">
        <div class="lunni-feature-pic" title="Monitor your app">
          <img src="/images/feature-logs.png" alt="Monitor your app" loading="lazy">
        </div>
        <figcaption class="md-typeset">
          <h2>Monitor your app</h2>
          <p>
            Something broken? Your application logs are one click away. If you
            need help figuring it out, link to the particular log line for
            easier pair debugging with your teammates.
          </p>
        </figcaption>
      </figure>
      <figure class="lunni-feature" id="feature-backups">
        <div class="lunni-feature-pic" title="Automatic backups">
          <img src="/images/feature-backups.png" alt="Automatic backups" loading="lazy">
        </div>
        <figcaption class="md-typeset">
          <h2>
            Backup your data
            <span class="lunni-label lunni-label--teal-lt">soon!</span>
            <abbr class="lunni-label lunni-label--green-lt" title="Available in paid edition">$</abbr>
          </h2>
          <p>
            We’ll automatically backup your Docker volumes to a redundant storage.
            If something goes wrong, you can easily restore your data with a few clicks.
          </p>
        </figcaption>
      </figure>

      <article class="md-typeset" style="text-align: center; font-size: 2em;">
        <h2>Let's build something new. 🎉</h2>

        <div>
          <a href="{{ page.next_page.url | url }}" title="{{ page.next_page.title | e }}"
            class="md-button lunni-button lunni-button--brand">
            Get started
          </a>
        </div>
      </article>

      {# <article class="lunni-pricing md-typeset">
        <section class="lunni-pricing__free lunni-reset-colors" data-md-color-scheme="slate">
          <div class="lunni-pricing__note">
            Self hosted
          </div>
          <div class="lunni-pricing__figure">
            Free
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-heart" width="24" height="24"
              viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round"
              stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
              <path d="M19.5 12.572l-7.5 7.428l-7.5 -7.428a5 5 0 1 1 7.5 -6.566a5 5 0 1 1 7.5 6.572"></path>
            </svg>
          </div>
          <div class="lunni-pricing__note">
            and open source
          </div>
        </section>

        <section>
          <div class="lunni-pricing__note">
            Hosted
          </div>
          <div class="lunni-pricing__figure">From $20<small>/mo</small></div>
          <div class="lunni-pricing__note">
            <a href="{{ page.next_page.url | url }}" title="{{ page.next_page.title | e }}"
              class="md-button lunni-button lunni-button--brand">
              Book a demo
            </a>
          </div>
        </section>
      </article> #}
    </div>
  </div>
</div>
{% endblock %}

{% block content %}{% endblock %}