@import url(https://rsms.me/inter/inter.css);

:root {
  --md-text-font: Inter Var,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto ColorEmoji;
  --md-code-font: Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
}

/* Color scheme based on Tabler (https://preview.tabler.io/): */
@media screen {
  [data-md-color-scheme="slate"] {
    --md-default-bg-color: #1a2234;
    --md-code-bg-color: #131826;
  }

  .md-header, .md-tabs {
    background-color: #1d273b;
  }

  .md-header.md-header--shadow, .md-tabs {
    box-shadow: inset 0 -1px 0 0 #243049;
  }

  .md-footer, .md-footer-meta {
    background-color: #131826;
  }
}

.md-typeset a:focus,
.md-typeset a:hover,
.md-nav__link:is(a:focus, label:focus),
.md-nav__link:is(a:hover, label:hover) {
  color: #206bc4; /* --tblr-link-hover-color */
}

/* Use brand orange color */
[data-md-color-accent="orange"] {
  --md-accent-fg-color: #f76707; /* --tblr-orange */
  --md-accent-fg-color--transparent: #f767071a;
}

.md-nav--primary .md-nav__title[for="__drawer"],
.md-nav__source {
  background-color: var(--md-accent-fg-color);
}

/* Make header styling match Tabler: */
.md-header {
  padding-block: 4px;
}

.md-header__button.md-logo {
  margin-inline-start: 0;
}

:root .md-header__title {
  margin-inline-start: .2rem;
}

.md-header__topic {
  font-size: .8rem;
}

.md-header__topic:first-child {
  font-weight: 600;
}


/* Tabler icons support */
svg.icon-tabler,
.md-typeset :is(.emojione, .twemoji, .gemoji) svg.icon-tabler {
  fill: none;
}
.md-typeset strong svg.icon-tabler {
  stroke-width: 2;
}

/* Blog author avatar hotfix */
.md-typeset .md-author--long {
  border-radius: 0;
  flex-shrink: 0;
}

.md-typeset .md-author > img {
  border-radius: 100%;
}

/* We want to have multiline descriptions */
.md-profile {
  align-items: flex-start;
}

.md-typeset .md-author--long {
  margin-top: -0.22rem;
}

/* This just says "Metadata" */
.md-post__meta > .md-nav__title {
  display: none;
}

/* Abbreviations styling */
abbr {
  font-size: .9em;
}

abbr:not([title]) {
  border: none;
  cursor: unset;
}

/* Color palette icon */
[data-md-component="palette"] .icon {
	height: 20px;
	width: auto;
}

/* Brand colors */
:root {
	--lunni-brand-fg-color: #f76707;
	--lunni-brand-fg-color-focus: #f88538;
}

.md-typeset .lunni-button--brand {
	background-color: var(--lunni-brand-fg-color);
	border-color: var(--lunni-brand-fg-color);
	color: var(--md-primary-bg-color);
}

.md-typeset .lunni-button--brand:is(:hover, :focus) {
	background-color: var(--lunni-brand-fg-color-focus);
	border-color: var(--lunni-brand-fg-color-focus);
	color: var(--md-primary-bg-color);
}

/* Make copyright line not as bright */
.md-copyright__highlight {
  color: rgba(255, 255, 255, .5);
}
