/* Remove spacing, as we cannot hide it completely */
.md-main__inner {
	margin: 0;
}

/* Hide color palette changer, Next link in footer */
[data-md-component="palette"],
.md-footer > nav.md-footer__inner {
	display: none;
}

/* Hide table of contents */
@media screen and (min-width: 60em) {
	.md-sidebar--secondary {
		display: none;
	}
}

/* Hide navigation */
@media screen and (min-width: 76.25em) {
	.md-sidebar--primary {
		display: none;
	}
}

.lunni-reset-colors {
	color: var(--md-typeset-color);
	background-color: var(--md-default-bg-color);
}

.md-typeset h1.lunni-hero-h1 {
	color: rgb(35, 43, 66);
	font-weight: 700;
	font-size: 3em;
	margin-bottom: -0.2em;
	line-height: 1.2;
}

.lunni-hero {
	display: grid;
	gap: 1em;
	align-items: center;
}

.lunni-hero p {
	color: rgb(81, 86, 113);
	font-size: 20px;
}

:root .lunni-button {
	padding: 8px 20px;
	border-radius: 6px;
	font-size: 18px;
	font-weight: 500;
}

.lunni-button > svg {
	vertical-align: middle;
}

.lunni-button.md-button--secondary {
	background-color: initial;
	border: none;
}

.lunni-button.md-button--secondary:hover {
	background-color: initial;
}

.lunni-button + .lunni-button {
	margin-left: -0.4ch;
}

.lunni-button.md-button--secondary + .lunni-button.md-button--secondary {
	margin-left: calc(-0.4ch - 18px);
	padding-inline: 3px;
}

.lunni-spotlight {
	margin-bottom: 4em;
}

@media screen and (min-width: 50em) {
	.lunni-hero {
		grid-template-columns: 1fr 2fr;
		gap: 2em;
		align-items: center;
	}

	.lunni-spotlight {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		gap: 1em;
		margin-top: 1em;
	}

	.lunni-pricing {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 1em;
		align-items: center;
	}

	.lunni-pricing > section {
		padding: 8em;
	}
}

@media screen and (min-width: 60em) {
	.lunni-hero {
		grid-template-columns: 1fr 1fr;
	}
}

.lunni-label {
	background-color: rgba(23, 162, 184, 0.1);
	color: rgb(23, 162, 184);
	display: inline-block;
	font-size: 50%;
	font-weight: 600;
	letter-spacing: 0.04em;
	text-rendering: optimizelegibility;
	vertical-align: middle;
	white-space: nowrap;
	border-radius: 4px;
	padding: 0.25em 0.5em;
}

abbr.lunni-label {
  border-bottom: none;
  text-decoration: underline;
  text-decoration-style: dotted;
}

.lunni-label--teal-lt {
	background-color: rgba(23, 162, 184, 0.1);
	color: rgb(23, 162, 184);
}
.lunni-label--green-lt {
	background-color: #eaf7ec;
	color: rgb(47, 179, 68);
}
.lunni-label--orange {
	background-color: rgb(247, 103, 7);
	color: white;
}

/* FEATURES */

.lunni-feature {
	display: flex;
	flex: 1 0 48%;
	flex-flow: column nowrap;
	gap: 0;
	gap: 3.2rem;
	margin: 0 0 3.2rem;
}

.lunni-feature:last-child {
	margin-bottom: 1em;
}

.lunni-feature > .lunni-feature-pic {
	display: block;
	flex-shrink: 0;
	transition: transform 0.5s cubic-bezier(0.075, 0.85, 0.175, 1);
}

.lunni-feature h2 {
	margin: 0;
}

@media screen and (max-width: 60em) {
	.lunni-feature > .lunni-feature-pic {
		margin-left: auto;
		margin-right: auto;
	}
}

.lunni-feature > a.lunni-feature-pic:hover {
	transform: scale(1.025);
}

.lunni-feature .lunni-feature-pic > img {
	border-radius: 0.2rem;
	box-shadow: var(--md-shadow-z2);
	display: block;
	height: auto;
	max-width: 100%;
	width: 25rem;
}

.lunni-feature a > img,
.lunni-feature figcaption {
	transition: transform 0.75s cubic-bezier(0.075, 0.85, 0.175, 1) 125ms, opacity 0.75s 125ms;
}

/* ... */
@media screen and (min-width: 60em) {
	.lunni-feature {
		flex-direction: row;
    align-items: center;
    /* max-width: 110em; */
    margin-inline: auto;
	}

	.lunni-feature:nth-child(odd) {
		flex-direction: row-reverse;
	}
}

/* PRICING */

.lunni-pricing > section {
	padding: 2em;
}

.lunni-pricing > section > *+* {
  margin-top: .5em;
  margin-bottom: 0;
}

.lunni-pricing__free {
	border-radius: 15px;
}

.lunni-pricing__free .icon {
	vertical-align: middle;
	color: #e03131;
	height: 1.5em;
	width: auto;
}

.lunni-pricing__figure {
	font-size: 1.5em;
}
